/* Ida */

html{

}

body{
  font-family: Helvetica;
  font-size: 14px;
}

.fill {
  background-image: url("../img/utsiktfloyen.jpg");
  background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
}

header {
  min-height: 70px;

  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}

.header-top {
  background-color: #5f5f5f;
}

.header-sub {
  background: rgba(143,143,143,0.8);
  /*background-color: #8f8f8f;*/
  min-height: 120px;

  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;

  justify-content: center;
  align-items: center;
}

#logo {
  color: white;
  font-family: "Times New Roman";
  font-size: 20px;
}


/* Datamaskin */
nav {
  width: 20%;
  min-width: 250px;

  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}

#page-title {
  color: white;
  font-family: "Times New Roman";
  font-variant: small-caps;
  font-size: 30px;
}

h2 {
  font-family: "Times New Roman";
  font-size: 25px;
}

p{
  padding: 0 20px;
}

.center {
  background: rgba(255,255,255,0.9);
  /*background-color: white;*/
  box-shadow: 5px 5px 20px grey;

  padding: 10px;
}

#map {
  width: 500px;
  height: 500px;
}

a {
  text-decoration: none;
  color: black;
}

header a:link, header a:visited {
  color: white;
}

nav a:hover {
  color: black;
}

footer {
  height: 120px;
  text-align: center;

  justify-content: space-around;
}



/* Nettbrett */
@media all and (max-width: 800px){
  nav {
    justify-content: space-around;
    min-height: 20px;
    min-width: 250px;
  }

  header{
    align-items: center;
    flex-direction: column;
    min-height: 50px;
  }
}

/* Mobil */
@media all and (max-width: 500px){
  nav{
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  nav>a {
    margin-top: 5px;
  }
  .main {
    flex-direction: column;
  }
}
