/* Ida */

body{
  background-image: url("../img/utsiktfloyen.jpg");
  background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2e2e2e;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.top-bar {
  background-color:  #005580/*#5f5f5f*/;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  min-height: 50px;
  padding: 0 15px;

  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}

#logo {
  color: white;
  font-family: Times;
  font-size: 20px;
}

h2, h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.center {
  background: rgba(255,255,255,0.85);
  /*background-color: white;*/
  /*box-shadow: 5px 5px 20px grey;*/

  padding: 20px;

  margin-top: 100px;
  margin-bottom: 60px;
  border-radius: 4px;
}

#map {
  width:100%;
  height:500px;
}

nav {
  width: 40%;
  min-width: 500px;

  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: black;
}

header a:link, header a:visited {
  color: white;
}

nav a:hover {
  color: black;
}
#current {
    border-bottom: 2px solid #fff;
}
footer {
  height: 60px;
  text-align: center;
  justify-content: space-around;
}

#posList{
  list-style-type: none;
}
#posList a:hover{
  color: #BC1010;
  }

.main  {
  justify-content: space-between;
}

aside#kart{
  flex-direction: column;
  display: block;
  width:500px;
}

article#wide{
  width: 100%;
}

.toptext input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    appearance: searchfield;
}
.advancedButton {
    border: none;
    background-color: #005580;
    color: white;
    padding: 8px 25px;
    font-size: 14px;
}

.searchButton{
  border: none;
  background-color: #005580;
  color: white;
  padding: 5px 50px;
  font-size: 13px;
  margin-top: 10px;
}

#search {
  display:none;
}

table{
  width: 100%;
  font-size: 13px;
}

.time-input {
  appearance: searchfield;
  width: 40px;
  height: 20px;
  padding: 0px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  text-align: center;
}

/* Nettbrett */
@media all and (max-width: 800px){
  nav {
    justify-content: space-around;
    min-height: 20px;
    min-width: 250px;
  }

  header{
    align-items: center;
    flex-direction: column;
    min-height: 50px;
  }

  #logo{
    margin-left: 20px;
  }

}

/* Mobil */
@media all and (max-width: 500px){
  nav{
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
  }
  nav>a {
    padding-top:5px;
    padding-bottom: 5px;
  }

  nav a:hover{
    background-color: black;
    color: white;
    width:100%;
  }

  .main {
    flex-direction: column;
    margin-top: 30px;
  }

  aside#kart{
    width:100%;
  }
  #current {
      border-bottom: 0px solid #fff;
  }

  .top-bar {
    position: absolute;
  }
}
