body{
  background-image: url("../media/utsiktfloyen.jpg");
  background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;

  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #2e2e2e;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

/* Den fargede linjen på toppen av siden */
.top-bar {
  background-color:  #005580/*#5f5f5f*/;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Header, inneholder meny og tittel */
header {
  min-height: 50px;
  padding: 0 15px;

  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}

/* Sidens tittel/logo, vises øverst til venstre */
#logo {
  color: white;
  font-family: Times;
  font-size: 20px;
}

/* Styling av overskrifter*/
h2, h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #005580;
  -webkit-margin-after: 0em;

}

/* Unik styling av sidebaren i index.html */
#introside{
  padding-left: 30px;
  font-size: 20px;
  margin-bottom:0;
}

/* tekststørrelse i index.html */
.intro{
  font-size: 25px;
}
/* Overskrift forside */
.intro h2{
  font-size: 35px;
}
/* Link i tekst på forside */
.intro a{
  color: #005580;
}

/* Den gjennomsiktige ruten som rommer alt hovedinnhold på siden */
.center {
  background: rgba(255,255,255,0.85);
  padding: 20px;

  margin-top: 100px;
  margin-bottom: 60px;
  border-radius: 4px;
}

/* Spesifiserer størrelse på kart for å gjøre kartene responsive */
#map {
  width:100%;
  height:500px;
}

/* Navigasjonsmeny */
nav {
  width: 40%;
  min-width: 600px;

  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  overflow: hidden;
}

/* Linker */
a {
  text-decoration: none;
  color: black;
}

/* Linker i header */
header a:link, header a:visited {
  color: white;
}

/* Hover på linker i Navigasjonsmeny*/
nav a:hover {
  color: black;
}

/* Viser en linje under linken i menyen på siden man er inne på */
#current {
    border-bottom: 2px solid #fff;
}

footer {
  height: 60px;
  text-align: center;
  justify-content: space-around;
}

/* Styling for linker i lister med steder fra datasett, rød skriftfarge@hover*/
#posList a:hover{
  color: #BC1010;
  }

/* Venstre/hovedkolonne på siden */
.main  {
  justify-content: space-between;
}

/* Spesifikk styling for sider der kart er i sidebaren */
aside#kart{
  flex-direction: column;
  display: block;
  width:500px;
}

/* Angir full bredde, ingen sidebar */
article#wide{
  width: 100%;
}

/* Styling for textinput/søkefelt */
.toptext input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    appearance: searchfield;
    width: 100%;
}

/* Knapp for avansert søk */
.advancedButton {
    border: none;
    background-color: #005580;
    color: white;
    padding: 8px 25px;
    font-size: 14px;
}

/* Søkeknapp */
.searchButton{
  border: none;
  background-color: #005580;
  color: white;
  padding: 5px 50px;
  font-size: 13px;
  margin-top: 10px;
}

/* Skjuler avanserte søkealternativ før brukeren trykker på avansert søk */
#search {
  display:none;
}

/* Tabellen for avansert søk */
table{
  width: 100%;
  font-size: 13px;
}

/* Søkefelt for tid i avansert søk*/
.time-input {
  appearance: searchfield;
  width: 40px;
  height: 20px;
  padding: 0px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  text-align: center;
}
/* Bredde på skjema på kontaktsiden*/
input[type=text], textarea {
  width: 40%;
  padding: 10px;
}

/* Styling av aria-label/merkelapp knyttet til listene */
ul:before, ol:before{
    content:attr(aria-label);
    font-style: italic;
}
/* Skjuler burgermeny-knapp når brukeren er på laptop/nettbrett */
 .icon {
  display: none;
}


/* Nettbrett */
@media all and (max-width: 800px){
  /* Organisering av navigasjonsmeny på nettbrett*/
  nav {
    justify-content: space-around;
    min-height: 20px;
    min-width: 300px;
  }

  /* Header-elementene organiseres i kolonne fremfor rad på nettbrett/mindre skjermer */
  header{
    flex-direction: column;
    min-height: 90px;
    line-height:200%;
  }

/* Plassering av logo/tittel (byguiden) på nettbrett. */
  #logo{
    margin-left: 20px;
  }

  /* Bredde på skjema på kontaktsiden*/
  input[type=text], textarea {
    width: 90%;
  }

}

/* Mobil */
@media all and (max-width: 500px){
/* Endrer flex-direction til column i main på mobil */
  .main {
    flex-direction: column;
    justify-content: space-between;
  }
/* Skriftstørrelse i index.html */
  #introside{
    font-size: 14px;
    padding-left: 0;
  }
  /* tekststørrelse i index.html */
  .intro{
    font-size: 14px;
  }
  /*100% bredde for kart i sidebaren på mobil, kartet ligger da under hovedinnhold*/
  aside#kart{
      width:100%;
    }
  header{
    min-height:30px;
    padding: 10px;
  }
  /* Burger-ikonet vises på mobil */
  .icon {
     display: block;
   }
   /* Navigasjonsmeny på mobil, elementene organiseres under hverandre */
  .topnav{
    display:flex;
    flex-direction: column;
  }
  /* Skjuler menyen, utenom det første elementet som er burger-ikonet */
  .topnav a:not(:first-child){
    display: none;
  }
  /* .topnav har også fått classname .responsive ved css, Navigasjonsmeny
  * vises når burgermenyen klikkes på.
  */
  .topnav.responsive a{
    display: block;
  }
  /* Fjerner linjen under current på mobilmeny */
  #current{
    border-bottom:0px;
  }
  /* Responsive tekstfelt i kontakt.html*/
  input[type=text], textarea {
    width: 90%;
  }
  /* Bredde for number-input, brukes i avansert søk på toaletter */
  input[type=number]{
    width: 30px;
  }
}
